/.DS_Store
/PythonProjects
/day5.js
/practice.js
/thursday.js
/wk10day4.js
/wk2day1.js
/wk2day2.js
/wk2day3.js
/wk2day4.js
/wk2day5.js
/wk4day1.js
/wk4day2.js
/wk4day5.js
/wk5day2.js
/wk5day3.js
/wk5day4.js
/wk5day5.js
/wk6day2.js
/wk6day3.js
/wk6day4.js
/wk6day5.js
/wk7day4.js